<!doctype html>
<title>Registration</title>
<form action=/confirm_register method='POST'>
  Registration<br><br>
  Login:<br><input type='text' name='login'><br>
  First name:<br><input type='text' name='firstname'><br>
  Second name:<br><input type='text' name='secondname'><br>
  Age:<br><input type='text' name='age'><br>
  City:<br><input type='text' name='city'><br>
  Email:<br><input type='text' name='email'><br>
  Password:<br><input type='password' name='pwd'><br>
  Confirm:<br><input type='password' name='confirm'><br>
  <input type='submit' value='Ok'>
</form>
